:root {
    --main-font-color: #3f3d63;
    --main-font-hover: #f5f6ff;
    --secondary-color: #d7d9ff;
    --main-background-color: #fff; 
    --secondary-background-color: #ffffff;
    --btn-color: #EC1010;
    --btn-hover: #d20e0e;

    --main-container-width: 1600px;
    --main-container-padding: 40px;
    --padding-large: 26px 40px;
    --padding-small: 10px 15px;
    --btn-small-font-size: 17px;
    --btn-large-font-size: 24px;
    --border-radius-huge : 50px;
    --border-radius-large: 40px;
    --border-radius-small: 25px;
    --font-weight: 610;

    --huge: 78px;
    --large: 50px;
    --middle: 30px;
    --small: 18px;
}

/* Reset-ish */
* { box-sizing: border-box; }
html,body { height: 100%; }
body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--main-font-color);
    background: var(--main-background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--small);
    line-height: 1.45;
}

h1 {
    font-size: var(--huge);
}

h2 {
    font-size: var(--large);
}

h3 {
    font-size: var(--middle);
}

h4 {
    font-size: var(--small);
}

.container {
    max-width: var(--main-container-width);
    margin-inline: auto;
    padding-inline: var(--main-container-padding);
}

.offset {
    height: 60px;
}

.inline-group {
    display: flex;
    align-items: center;
    gap: 30px;
}





