/* Fixed header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: var(--secondary-background-color);
    border-bottom: 1px solid var(--darkness-backround-color);
    z-index: 999;
    display: flex;
    align-items: center;
}

/* Main layout inside */
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* =============== LEFT SIDE =============== */

/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 48px;
}

.menu-button {
    background: none;
    border: none;
    font-size: var(--small);
    color: var(--main-font-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.menu-button .arrow {
    display: inline-block;
    transition: transform 0.25s ease;
    font-size: var(--small);
    line-height: 1;
}

/* menu opened */
.menu-button.is-open .arrow {
    transform: rotate(180deg);
}

/* replace arrow with X */
.menu-button.is-open .arrow {
    font-family: system-ui, sans-serif;
}

.menu-button.is-open .arrow::before {
    content: "✕";
    font-size: var(--small); 
    font-weight: var(--font-weight);
    color: var(--main-font-color);
}
.menu-button .arrow::before {
    content: "▼";
}

/* =============== RIGHT SIDE =============== */
.header-info-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Base header icon */
.header-icon {
    width: 20px;
    height: 20px;
    fill: var(--main-font-color);
    flex-shrink: 0;
}

/* Right header CTAs */
.header-phone { 
    text-align: right; 
}

.header-phone-number { 
    font-weight: var(--font-weight);
    font-size: 20px;
    color: var(--main-font-color);
}

.header-phone-number:hover {
    color: var(--btn-color);
    cursor: pointer;
}