@media (min-width: 1401px) {
    .header-phone img { display: none; }
}

@media (max-width: 1400px) {
    .header-phone img { display: none; }
}

@media (max-width: 1200px) {
    .btn-small { display: none; }
    .menu-button { display: none; }
    .header-phone img { display: none; }
}

@media (max-width: 990px) {
    .header-info-time { display: none; }
    .header-phone img { display: none; }
}

@media (max-width: 768px) {  
    .header-phone-number { display: none; }
    .header-phone img { display: block; }
    .header { height: 60px; }
}

@media (max-width: 560px) {
    .container  { padding-inline: 15px; }
    .header-info-location { display: none; }
}