@media (min-width: 1401px) {
    .header-phone img { display: none; }
    .hero-title { display: block; }
    .hero-title-mobile { display: none; }
}

@media (max-width: 1400px) {
    .header-phone img { display: none; }
    .hero-title-mobile { display: none; }
}

@media (max-width: 1200px) {
    .btn-small { display: none; }
    .menu-button { display: none; }
    .mega { display: none; }
    .header-phone img { display: none; }
    .hero-title { display: none; }
    .hero-title-mobile { display: block; }
    .icon svg { margin-right: 0; width: 25px; height: 25px; }
}

@media (max-width: 990px) {
    .header-info-time { display: none; }
    .header-phone img { display: none; }
}

@media (max-width: 768px) {  
    .header-phone-number { display: none; }
    .header-phone img { display: block; }
    .header { height: 60px; }
    :root { 
        --btn-large-font-size: 20px; 
        --huge: 60px;
        --large: 30px;
        --middle: 25px;
    }
    .offset { height: 30px; }
    .site-footer { padding: 0; }
    .icon svg { width: 18px; height: 18px; }
}

@media (max-width: 560px) {
    .container { padding-inline: 15px; }
    .header-info-location { display: none; }
}

