---
import Main from '../layouts/Main.astro'
import content from '../content/index.json'
import Hero  from '../components/Hero.astro'
import BannerChat from '../components/BannerChat.astro'
import BannerBenefits from '../components/BannerBenefits.astro'
import ServicesGrid from '../components/ServicesGrid.astro'
import Benefits from '../components/Benefits.astro'
import HeroBanner from '../components/HeroBanner.astro'
---

<Main title={content.title} description={content.description}>
    <Hero/>
    <div class="offset"></div>
    <div class="offset"></div>
    <BannerChat />
    <div class="offset"></div>
    <div class="offset"></div>
    <ServicesGrid />
    <div class="offset"></div>
    <div class="offset"></div>
    <BannerBenefits />
    <div class="offset"></div>
    <div class="offset"></div>
    <Benefits />
    <div class="offset"></div>
    <div class="offset"></div>
    <HeroBanner />
    <div class="offset"></div>
    <div class="offset"></div>
</Main>