---
import Main from '../../layouts/Main.astro'
import content from '../../content/index.json'

const imagesPath = '/assets/img/index/'
---

<Main title={content.title} description={content.description}>
   
</Main>