---
--- 

<section class="banner">
    <div class="banner__image chat">
        <img
            src="/assets/img/chat-preview.webp"
            alt="Telegram assistant preview"
        />
    </div>
    <div class="banner__content">
        <h2>Вызовите мастера в пару кликов!</h2>
        <p>
            Напишите нам в WhatsApp, убедитесь что мы всегда на 
            связи и получите консультацию или оставьте заявку! 
        </p>
        <button class="btn-large" onclick="goToURL('Open WhatsApp')">Написать в чат</button>
    </div>
</section>