---
---

<section class="banner">
    <div class="banner__image benefits">
        <img
            src="/assets/img/about-preview.webp"
            alt="Telegram assistant preview"
        />
    </div>
    <div class="banner__content">
        <h2>Почему выбирают наш сервис?</h2>
        <p>
            Более 20 лет мы оказываем качественные услуги по ремонту бытовой техники!
        </p>
        <button class="btn-large" onclick="goToURL('Go to About')">О Компании</button>
    </div>
</section>