---
--- 

<section class="banner">
    <div class="banner__image">
        <img
            src="/assets/img/chat-preview.webp"
            alt="Telegram assistant preview"
        />
    </div>
    <div class="banner__content">
        <h2>Вызовите мастера в пару кликов!</h2>
        <p>
            Напишите нам в WhatsApp и убедитесь, что мы всегда на 
            связи.
        </p>
        <button class="btn-large" onclick="goToWhatsApp()">Написать в чат</button>
    </div>
</section>