---
import { icon, type IconDefinition } from '@fortawesome/fontawesome-svg-core'
import {
    faTools,
    faQuestionCircle,
    faUser,
    faStar,
    faGlobe
} from '@fortawesome/free-solid-svg-icons'

type IconName =
  | 'repair'
  | 'faq'
  | 'about'
  | 'reviews'
  | 'localization';

const { name } = Astro.props as { name: IconName }

const iconsMap: Record<IconName, IconDefinition> = {
  repair: faTools,
  faq: faQuestionCircle,
  about: faUser,
  reviews: faStar,
  localization: faGlobe
}

const svgHTML = icon(iconsMap[name]).html;
---
<span class="icon" set:html={svgHTML}></span>
