---
import { icon, type IconDefinition } from '@fortawesome/fontawesome-svg-core'
import {
    faTools,
    faQuestionCircle,
    faUser,
    faStar,
    faGlobe,
    faBars,
    faPlusCircle,
    faHome,

} from '@fortawesome/free-solid-svg-icons'

type IconName =
  | 'repair'
  | 'faq'
  | 'about'
  | 'reviews'
  | 'localization'
  | 'hamburger'
  | 'plus'
  | 'home'

const { name } = Astro.props as { name: IconName }

const iconsMap: Record<IconName, IconDefinition> = {
    repair: faTools,
    faq: faQuestionCircle,
    about: faUser,
    reviews: faStar,
    localization: faGlobe,
    hamburger: faBars,
    plus: faPlusCircle,
    home: faHome
}

const svgHTML = icon(iconsMap[name]).html;
---
<span class="icon" set:html={svgHTML}></span>
