---
import { icon, type IconDefinition } from '@fortawesome/fontawesome-svg-core'
import {
    faUser,
    faStar,
    faGlobe,
    faBars,
    faPlusCircle,
    faHome,
    faTools,
    faSolarPanel,
    faSnowflake,
    faTemperatureLow

} from '@fortawesome/free-solid-svg-icons'

type IconName =
    | 'about'
    | 'reviews'
    | 'localization'
    | 'hamburger'
    | 'plus'
    | 'home'
    | 'repair'
    | 'solar'
    | 'conditioner'
    | 'cooling'

const { name } = Astro.props as { name: IconName }

const iconsMap: Record<IconName, IconDefinition> = {
    about: faUser,
    reviews: faStar,
    localization: faGlobe,
    hamburger: faBars,
    plus: faPlusCircle,
    home: faHome,
    repair: faTools,
    solar: faSolarPanel,
    cooling: faSnowflake,
    conditioner: faTemperatureLow
}

const svgHTML = icon(iconsMap[name]).html;
---
<span class="icon" set:html={svgHTML}></span>
