---
---

<div id="loader" style="display: none;">
    <div class="loader-overlay">
        <div class="spinner"></div>
    </div>
</div>

<style>
    .loader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4); /* semi-transparent dark overlay */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11000 !important
    }
    
    .spinner {
        width: 60px;
        height: 60px;
        border: 6px solid #f3f3f3;
        border-top: 6px solid #4CAF50; /* green accent */
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    
    /* Spinner animation */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>