---
---

<style>
    .section-title {
        font-size: 26px;
        margin: 24px 0;
        font-weight: var(--font-weight);
        color: var(--main-font-color);;
    }
    
    .services-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 18px;
    }

    .service-card {
        background: linear-gradient(180deg,#ffffff,#fcfdff);
        border-radius: 12px;
        padding: 18px;
        border: 1px solid #e8f0fb;
        box-shadow: 0 10px 30px rgba(11,59,130,0.03);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .service-card h4 {
        margin-bottom: 0px;
    }

    .service-ico { 
        width: 200px; 
        height: 200px; 
        object-fit: cover; 
        border-radius: 10px; 
    }

    .card-link { 
        margin-top: auto; 
        font-size: var(--small);
        color: var(--main-font-color);
        font-weight: var(--font-weight); 
        text-decoration: none; 
    }
</style>

<section class="services">
    <div class="container">
        <h2>Все услуги</h2>
        <div class="services-grid">
            <article class="service-card">
                <img src="/assets/img/ref.webp" alt="" class="service-ico">
                <h4>Ремонт холодильников</h4>
                <p>Диагностика и ремонт на дому. Запчасти в наличии.</p>
                <a class="card-link" href="#">Подробнее →</a>
            </article>
            <article class="service-card">
                <img src="/assets/img/washer.webp" alt="" class="service-ico">
                <h4>Ремонт стиральных машин</h4>
                <p>Сбой в электронике, замена ТЭНа, ремонт барабана.</p>
                <a class="card-link" href="#">Подробнее →</a>
            </article>
            <article class="service-card">
                <img src="/assets/img/dishwasher.webp" alt="" class="service-ico">
                <h4>Ремонт посудомоечных машин</h4>
                <p>Замена конфорок, ремонт сенсора и панели управления.</p>
                <a class="card-link" href="#">Подробнее →</a>
            </article>
            <article class="service-card">
                <img src="/assets/img/dryer.webp" alt="" class="service-ico">
                <h4>Ремонт сушильных машин</h4>
                <p>Микроволновые печи, пылесосы, чайники.</p>
                <a class="card-link" href="#">Подробнее →</a>
            </article>
        </div>
    </div>
</section>