---
const { label } = Astro.props
---

<div class="header-info-item">
    <svg class="header-icon" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M12 2a10 10 0 1 0 10 10A10.01 10.01 0 0 0 12 2zm-1 5h2v6.25l4.5 2.6-1 1.6L11 14V7z"/>
    </svg>
    <span>{label}</span>
</div>